*{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.arrow{
    position: absolute;
    margin-top: 200%;
    margin-left: 90%;
    width: 60px;
    position: fixed;
    bottom: 20px;
    right: 10px;
} 



.s{
    width: 100%;
    height: 45px;
    position: absolute;
    top: 22px;
    margin-left: 5%;
}
.s1{
    width: 100%;
    height: 45px;
    background-color: #316DC3;
    
}

.s2{
    width: 100%;
    height: 90px;
    background-color: #F7F8FA;
    }

.logo{
    width: 17%;
    margin-left: 5%;
    margin-top: 14.5px;
}
.f{
    width: 2%;
}
.p1{
    padding-top: 14px;
    color: white;
    text-align: center;
}
.b1{
    font-family: 'Courier New', Courier, monospace;
    font-size:12px ;
    position: absolute;
    left: 73%;
    top: 4%;
}
button{
    height: 30px;
}

li{
    display: inline-block;
    margin: 18px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;       
}
.menue{
    position: absolute;
    left: 32%;
    top: 11%;
    }
.slider{
    width: 100%;
}

.marquee{
    background-color:#316DC3 ;
    color: white;
    height: 30px;
    padding-top: 12px;
}
.h1{
    width: 100%;
    margin: 12px;
    position: absolute;
    text-align: center;
    margin-top: 5%;
    
}
.h2{
    width: 75;
    margin: 12px;
    position: absolute;
    text-align: left;
    margin-top: 55%;
    margin-left: 5%;
    border-bottom: 2px solid green;
}

.h3{
    width: 75;
    margin: 12px;
    position: absolute;
    text-align: left;
    margin-top: 55%;
    margin-left: 65.2%;
    border-bottom: 2px solid lightgray;
}
.h4{
    width: 100%;
    margin: 12px;
    position: absolute;
    text-align: center;
    margin-top: 20%;
}

.color1{
    color: greenyellow
}
.color2{
    color: blue;
}

.i{
    position: absolute;
    margin-top: -12px;
    text-align: center;
    margin-left: -3%;
}

.j{
    position: absolute;
    margin-top: -40%;
    text-align: center;
    margin-left: 35%;
}

.k{
    position: absolute;
    margin-top: -35%;
    text-align: center;
    margin-left: 10%;
}

.l{
    position: absolute;
    margin-top: -40%;
    text-align: center;
    margin-left: 30%;
}

.m{
    position: absolute;
    margin-top: -35%;
    text-align: center;
    margin-left: 35%;
}

.k1{
    position: absolute;
    text-align: center;
    margin-top: 7%;
    margin-left: 40%;

}
.k2{
    position: absolute;
    text-align: center;
    margin-top: 7%;
    margin-left: 40%;

}
.k3{
    position: absolute;
    text-align: center;
    margin-top: 7%;
    margin-left: 40%;

}
.k4{
    position: absolute;
    text-align: center;
    margin-top: 7%;
    margin-left: 40%;

}
.k5{
    position: absolute;
    text-align: center;
    margin-top: 7%;
    margin-left: 40%;

}
.k6{
    position: absolute;
    text-align: center;
    margin-top: 7%;
    margin-left: 40%;

}
.k10{
    position: absolute;
    margin-top: 5%;
    margin-left: 5%;
}
.n2{
    position: absolute;
    text-align: center;
    margin-top: 30%;
    margin-left: 26%;
    font-size: 20px;
    font-family: serif;
    color: #316DC3;
    font-weight: normal;
}
.n3{
    position: absolute;
    text-align: center;
    margin-top: 30%;
    margin-left: 36%;
    font-size: 20px;
    font-family: serif;
    color: #316DC3;
    font-weight: normal;
}
.n4{
    position: absolute;
    text-align: center;
    margin-top: 30%;
    margin-left: 33.5%;
    font-size: 20px;
    font-family: serif;
    color: #316DC3;
    font-weight: normal;
}

.n5{
    position: absolute;
    margin-top: 8%;
    margin-left: 20%;
    font-size: 15px;
    font-family: serif;
    color: #316DC3;
    font-weight: normal;
}
.para{
    text-align: justify;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 18%;
    
}


.f1{
    font-size: 70%;
    font-weight: bold;
}
.part2{
    background-color: blue ;
    width: 100%;
    height: 300px;
    margin-top: 8%;
        }

        .main{
            margin-left: 10px;
        }
        .box{
            display: block;
            float: left;
            width: 20px;
            padding: 22%;
            padding-left: 15px;
            margin-top: 20%;
            overflow: hidden;
            border-radius: 5px;
        }
        .img1{
            width: 280px;
            border-radius: 5px;
            filter: grayscale(100%);
            transition: 1s;

        }
        .img1:hover{
            filter: grayscale(0%);
            transform: scale(1.1);

        }

     .font{
         font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
         word-break: break-all;
         font-size: 16px;
         font-stretch: narrower;
         margin-top: 3%;
     }   


.se1{
    position: absolute;
    
    width: 20%;
    height: 250px;
    margin-left: 5%;
    margin-top: 28px;

    }
    .se2{
        position: absolute;
       width: 20%;
        height: 250px;
        margin-left: 28%;
        margin-top: 28px;
    
        }
        .se3{
            position: absolute;
         
            width: 20%;
            height: 250px;
            margin-left: 51%;
            margin-top: 28px;
        
            }
            .se4{
                position: absolute;
                
                width: 20%;
                height: 250px;
                margin-left: 74%;
                margin-top: 28px;
            
                }
            .e,.e2,.e3,.e1{
                position: absolute;
                text-align: center;
                margin-top: 40%;
                margin-left: 18%;
                font-size: 16px;
                font-weight: bold;
                color: white;
               
           }
          .n1{
              font-size: 44px;
              color: white;
          }

    
       .se6{
        position: absolute;
        background-color: white;
        width: 28%;
        height: 32%;
        margin-left: 5%;
        margin-top: 18%;
        box-shadow: 2px 2px 2px 2px grey;
    
        }

       .se7{
        position: absolute;
        background-color: white;
        width: 28%;
        height: 32%;
        margin-left: 35%;
        margin-top: 18%;
        box-shadow: 2px 2px 2px 2px grey;
    
        }

    
       .se8{
        position: absolute;
        background-color: white;
        width: 28%;
        height: 32%;
        margin-left: 65%;
        margin-top: 18%;
        box-shadow: 2px 2px 2px 2px grey;
    
        }


       .se9{
        position: absolute;
        background-color: white;
        width: 28%;
        height: 32%;
        margin-left: 5%;
        margin-top: 35%;
        box-shadow: 2px 2px 2px 2px grey;
    
        }

     
       .se10{
        position: absolute;
        background-color: white;
        width: 28%;
        height: 32%;
        margin-left: 35%;
        margin-top: 35%;
        box-shadow: 2px 2px 2px 2px grey;
    
        }

       .se11{
        position: absolute;
        background-color: white;
        width: 28%;
        height: 32%;
        margin-left: 65%;
        margin-top: 35%;
        box-shadow: 2px 2px 2px 2px grey;
    
        }



        .se12{
            position: absolute;
            background-color: white;
            width: 28%;
            height: 14%;
            margin-left: 5%;
            margin-top: 60%;
            background-color: #F7F8FA;
            border: 1px solid lightgray;
        
            }
    
           .se13{
            position: absolute;
            background-color: white;
            width: 28%;
            height: 14%;
            margin-left: 35%;
            margin-top: 60%;
            background-color: #F7F8FA;
            border: 1px solid lightgray
        
            }

            .se14{
                position: absolute;
                background-color: white;
                width: 28%;
                height: 14%;
                margin-left: 5%;
                margin-top: 68%;
                background-color: #F7F8FA;
                border: 1px solid lightgray;
            
                }
        
             
               .se15{
                position: absolute;
                background-color: white;
                width: 28%;
                height: 14%;
                margin-left: 35%;
                margin-top: 68%;
                background-color: #F7F8FA;
                border: 1px solid lightgray;
            
                }

                .marquee2{
                    background-color: white;
                    color: black;
                    width: 28%;
                    height: 30px;
                    padding-top: 60.5%;
                    margin-left: 66%;
                }



                .footer{
                    position: absolute;
                    width: 100%;
                    height: 60%;
                    background-color: #25272E;
                    margin-top: 65%;
                }
               .phone{
                font-family: Arial, Helvetica, sans-serif;
                   position: absolute;
                   width: 30%;
                    margin-left: 5%;
                   margin-top: 5%;
                   font-size: 15px;
                   color: white;
                   
               } 

               .phone1{
                font-family: Arial, Helvetica, sans-serif;
                position: absolute;
                width: 30%;
                margin-left: 37%;
                margin-top: -15%;
                font-size: 35px;
                color: white;
                border-bottom: 1px solid green;
                
                
            } 

            .phone2{
                font-family: Arial, Helvetica, sans-serif;
                position: absolute;
                width: 30%;
                margin-left: 69%;
                margin-top: -15%;
                font-size: 35px;
                color: white;
                
            } 

            .phone3{
                position: absolute;
                width: 30%;
                margin-left: 69%;
                margin-top: -15%;
                font-size: 10px;
                
               
            } 

            .copy{
                position: absolute;
                width: 100%;
                height: 5%;
                background-color: #316DC3;
                margin-top: 89.9%;
            
            }
            .c{
                position: absolute;
                margin-left: 5%;
                margin-top: 0.5%;
                color: white;
                

            }